/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;

}

body {
  margin: 0;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}

dialog {
  border-radius: 10px;
  border: 0;
  outline: none;
  padding: 15px;
}


select {
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #00a66a;
  width: 100px;
}

.close-dialog {
  display: flex;
  align-items: flex-end;
  justify-items: end;
  justify-content: end;
}


.popup-red {
  background-color: red !important;
}

.search-filters {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
  flex: 0 0 100%;
  gap: 10px;
  justify-content: space-between;
}


.single-mp {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
  margin-left: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-mp td, .single-mp th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 50%;
}

.single-mp tr:nth-child(even) {
  background-color: #04AA6D0F;
}

.single-mp tr:hover {
  background-color: #ddd;
}

.single-mp th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#menus {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
  left: 0;

}

.voted-yes th {
  background-color: red !important;
}

.voted-absent th {
  background-color: orange !important;
  color: black;
}

.voted-unknown th {
  background-color: gray !important;
}

.voted-yes tr:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.1);
}

.voted-unknown tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.1);
}

#details {
  overflow: scroll;
  height: 82vh;
  position: static;
  bottom: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

#details::-webkit-scrollbar {
  display: none; /* Safari and Chrome */

}

#footer {
  background-color: white;
  width: 100vw;
  z-index: 1000;
  height: 3vh;
  position: fixed;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
}

#footer-icons {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#pin-mode {
  z-index: 1000;
  position: absolute;
  right: 43px;
  bottom: 80px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid black;

}

#recenter-map {
  z-index: 1000;
  position: absolute;
  right: 150px;
  bottom: 80px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid black;

}

#map {
  height: 95vh;
  width: 70vw
}

#details {
  /*width: 30vw;*/
}

@media only screen and (max-width: 600px) {
  #map {
    display: none;
  }
  .single-mp{
    width: 97vw;
  }
  table.fixed { table-layout:fixed; }
  table.fixed td { overflow: hidden; }

  #details {
    width: 100vw !important;
  }

  .img-screenshot {
    display: none !important;
  }

  .close-on-small-devices {
    display: none;
  }

  .show-on-small-devices {
    display: block;
  }
}
.show-on-small-devices {
  display: none;
}

#left-messages {
  width: 50vw;
}

#container {
  display: flex;
  height: 96vh;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #04AA6D;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #000000;
}

.searchTerm:focus {
  color: #000000;
}

#top-level {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  position: sticky !important;
  top: 0;
  width: 100%;
}


#filters {
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

